h1{
    font-size: 20px;
}

[class*="col-"]{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    line-height: 2;
}

.border-white{
    border: .5px solid white;
}

.row{
    padding-bottom: 1.5rem;
}

.col-6 .row div{
    background-color: lawngreen;
}

.border-bottom{
    border-bottom: .5px solid white;
}