.black{
    background-color: black;
}

.blue{
    background-color: blue;
}

.grey{
    background-color: lightslategrey;
}

.white{
    background-color: white;
}

.red{
    background-color: red;
}